
#table {
    max-width: 100%;
    max-height: 100%;
}

#tableContainer {
  height: 100%;
  position: relative;
}

.shaderActive {
  pointer-events: none;
  border: 1px solid #00FFFF
}

.shaderInactive {
  pointer-events: none;
  border: 1px solid #FF00FF
}

.button {
    background-color: #008CBA;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    border: 2px solid #00008B
}
.button:hover {
  background-color: #F0FFFF;
  color: blue;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
              0 17px 50px 0 rgba(0,0,0,0.19);
}
